* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.whiteSpacing {
  padding: 0 70px;
}

section {
  margin: 94px 0;
}
ul {
  list-style: none;
}

header {
  height: 100vh;
  background-color: #b5dfff;
}

nav {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #b5dfff;
  padding: 0 70px;
}
nav ul {
  display: flex;
  gap: 30px;
}
nav a {
  text-decoration: none;
  font-weight: 500;
  color: #222222;
}
nav .login {
  width: 135px;
  height: 38px;
  border-radius: 6px;
  background-color: #025595;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
}
nav .burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hero {
  height: 100%;
  padding-top: 122px;
  background-image: url("./../imgs/hero-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.hero h1 {
  width: 549px;
  font-size: 60px;
  line-height: 80px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero > p {
  width: 423px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #22222280;
  margin-bottom: 50px;
}
.hero .container {
  max-width: 866px;
  padding: 20px 58px;
  margin-top: 20px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
.hero .card {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero .card h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}
.hero .card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #22222280;
}
.hero .card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0255952f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#how-it-works h2 {
  max-width: 529px;
  font-size: 39px;
  font-weight: 700;
  line-height: 100%;
}
#how-it-works > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #22222280;
}
.banner {
  margin-top: 56px;
  display: flex;
  justify-content: space-around;
  gap: 3%;
}
.banner .card {
  width: 380px;
  padding: 30px 20px;
}
.banner-blue {
  background-color: #025595;
  color: #ffffff;
  border-radius: 15px;
}
.banner .card img {
  padding-bottom: 20px;
  max-width: 100%;
  height: auto;
}
.banner .card h3 {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 10px;
}
.banner .card p {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 50px;
  max-width: 300px;
}
.banner-white {
  border: 2px solid #025595;
  border-radius: 15px;
}
.banner-white p {
  color: #22222280;
}
.banner-blue p {
  color: #ffffff;
}

#dream {
  position: relative;
  overflow: hidden;
}
#dream img {
  width: 100%;
  filter: brightness(40%);
  display: block;
}
#dream .dream-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
#dream h1 {
  color: #ffffff;
  max-width: 606px;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 auto 20px auto;
}
#dream p {
  text-align: center;
  max-width: 606px;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.3;
  margin: 0 auto;
}

#trending .trending-info {
  max-width: 382px;
  margin: 0 auto;
}
#trending .trending-info h1,
#deals h1 {
  font-size: 39px;
  font-weight: 700;
  line-height: 1.2;
}
#trending .trending-info p,
#deals p {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #22222280;
}
#trending .cards-container {
  max-width: 89.751vw;
  margin: 56px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#trending .cards-container .first-row-cards,
#trending .cards-container .second-row-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
#trending .cards-container .first-row-cards {
  margin-bottom: 30px;
}
#trending .cards-container .card {
  max-width: 382px;
  border: 2px solid #025595;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  flex: 1;
  min-width: 280px;
}
#trending .cards-container .card > img {
  width: 100%;
  margin-bottom: 16px;
  height: auto;
}
.cards-container .card-info h3 {
  color: #025595;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
.cards-container .card-info > p {
  width: auto;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 38px;
}
.cards-container .card-location {
  display: flex;
  align-items: center;
  width: 100%;
}
.cards-container .card-location p {
  max-width: 275px;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}
.cards-container .card-location img {
  padding-right: 10px;
}

.deal-links {
  display: flex;
  max-width: 66.7642vw;
  gap: 50px;
  margin: 56px auto 0 auto;
}
.deal-links li {
  color: #222222;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
  margin-bottom: 40px;
}
.deal-links li:nth-child(1) {
  color: #025595;
  font-weight: 600;
  position: relative;
}
.deal-links li:nth-child(1)::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #025595;
}
#deals .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 89.751vw;
  margin: 0 auto;
}
#deals .container .card {
  position: relative;
  flex: 1;
  min-width: 280px;
}
#deals .container .card img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  display: block;
}
#deals .container .buttons {
  position: absolute;
  top: 14px;
  left: 14px;
}
#deals .container button {
  background: none;
  border: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #22222266;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  width: fit-content;
  padding: 10px 12px;
  cursor: pointer;
}

footer {
  padding-top: 50px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(34, 34, 34, 0.493);
  padding-bottom: 30px;
  gap: 30px;
}
footer .container h3 {
  margin-bottom: 20px;
}
footer .container li {
  margin-bottom: 16px;
}
footer .container .flora-info {
  max-width: 351.66px;
  flex: 1;
  min-width: 250px;
}
footer .flora-info p {
  font-size: 16px;
  font-weight: 400;
  color: #22222280;
  margin-top: 26px;
}
footer .social-links {
  margin-top: 16px;
}
footer .social-links img {
  margin-right: 16px;
  cursor: pointer;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.copyright p {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.copyright ul {
  display: flex;
  gap: 30px;
  font-size: 14px;
  font-weight: 400;
}
.copyright ul li {
  letter-spacing: 0.02em;
}

@media screen and (max-width: 992px) {
  .whiteSpacing {
    padding: 0 20px;
  }
  section {
    margin: 60px 0;
  }

  nav {
    width: 100%;
    padding: 0 20px;
  }
  nav ul,
  nav .login {
    display: none;
  }
  nav .burger {
    display: block;
  }

  .hero {
    padding: 122px 0 40px 0;
    background-position: bottom;
  }
  .hero h1 {
    width: 100%;
    font-size: 9vw;
    line-height: 1.2;
    text-align: center;
    color: #222222;
    padding: 0;
  }
  .hero > p {
    width: 90%;
    height: auto;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    color: #222222;
    margin-bottom: 30px;
    padding: 0;
  }
  .hero .container {
    padding: 20px;
    margin-top: 30px;
    gap: 20px;
  }
  .hero .card {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .hero .card h3 {
    font-size: 15px;
  }
  .hero .card p {
    font-size: 14px;
  }

  #how-it-works h2 {
    max-width: 100%;
    text-align: center;
    font-size: 7vw;
    line-height: 1.25;
  }
  #how-it-works > p {
    max-width: 100%;
    text-align: center;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.6;
  }
  #how-it-works .banner {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #how-it-works .banner .card {
    max-width: 90%;
    width: 100%;
    margin-bottom: 20px;
  }
  .banner .card p {
    padding-bottom: 20px;
    font-size: 13px;
  }
  .banner .card h3 {
    font-size: 20px;
  }

  #dream {
    min-height: 350px;
    padding: 20px 0;
  }
  #dream .dream-info {
    width: 90%;
  }
  #dream h1 {
    font-size: 8vw;
    max-width: 100%;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  #dream p {
    font-size: 4.5vw;
    max-width: 100%;
    line-height: 1.4;
  }

  #trending .trending-info {
    text-align: center;
    margin: 0 auto 30px auto;
    max-width: 90%;
  }
  #trending .trending-info h1,
  #deals h1 {
    font-size: 7vw;
    line-height: 1.2;
  }
  #trending .trending-info p,
  #deals p {
    font-size: 14px;
    line-height: 1.6;
  }

  #trending .cards-container {
    max-width: 100%;
    margin-top: 30px;
    gap: 0px;
    align-items: center;
  }
  #trending .cards-container .first-row-cards,
  #trending .cards-container .second-row-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  #trending .cards-container .first-row-cards {
    margin-bottom: 0;
  }
  #trending .cards-container .card {
    max-width: 90%;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
  }
  .cards-container .card-info > p {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .cards-container .card-location p {
    font-size: 13px;
  }

  .deal-links {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 30px auto 20px auto;
  }
  .deal-links li {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .deal-links li:nth-child(1)::before {
    bottom: -8px;
  }
  #deals .container {
    max-width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
  }
  #deals .container .card {
    width: 90%;
    max-width: 450px;
  }

  footer .container {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px 30px 20px;
  }
  footer .container .flora-info {
    max-width: 100%;
    text-align: center;
  }
  footer .container .flora-info p {
    font-size: 14px;
  }
  footer .container h3 {
    font-size: 18px;
  }
  footer .container li {
    font-size: 14px;
  }
  footer .social-links {
    text-align: center;
  }

  footer .copyright {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    padding: 20px 10px;
  }
  .copyright ul {
    gap: 20px;
    margin: 15px 0 0 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .copyright p {
    font-size: 13px;
  }
}
